
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{/admin/fragments/header::header}"></div>

<h1 th:text="${category.isEdit} ? 'Update Category' : 'Add New Category'"></h1>

<!-- Hêt thông báo -->
<form th:action="@{/admin/categories/insert}" method="post" th:object="${category}">

    <!-- Hidden fields to handle editing -->
    <input type="hidden" th:value="${category.isEdit}" name="isEdit">
    <input type="hidden" th:value="${category.id}" name="id">

    <label>Category name:</label><br>
    <input type="text" placeholder="Category name" required th:field="*{name}"><br>

    <label>Images</label><br>
    <input type="text" name="images" th:field="*{images}"><br>

    <label>Status</label><br>
    <input type="text" name="status" th:field="*{status}"><br><br>

    <button type="submit" th:text="${category.isEdit} ? 'Update' : 'Insert'"></button>
</form>
<div th:replace="~{/admin/fragments/footer::footer}"></div>

</body>
</html>